#!/bin/sh

# only expect tools in this location..
export PATH="/bin:/usr/bin:/usr/local/bin/"

date +'====== %Y-%m-%d %H:%M:%S ======' 1>&2

# make sure we collect the intermediate/ca certs only once for all the different certs
touch -d "yesterday" /tmp/letsencrypt.tmp

{% for cert in acme__letsencrypt_certs %}
if [ "{{ acme__config_dir }}/{{ cert.file }}" -ot "/tmp/letsencrypt.tmp" ] ; then
    cert=$(ssh "{{ acme__remote_proxy }}" "{{ acme__wrapper }}" get_ca "{{ cert.file }}")

    newstartdate=$(echo $cert | openssl x509 -noout -startdate |\
                        cut -d "=" -f2)
    curstartdate=$(openssl x509 -noout -startdate \
                        -in "{{ acme__config_dir }}/{{ cert.file }}")

    if [ $(date -d $newstartdate +%s) -gt $(date -d $curstartdate +%s) ] ; then
        echo $cert > "{{ acme__config_dir }}/{{ cert.file }}"
    fi
fi
{% endfor %}

# if the cert is missing (zero-size) or olther then a month
if [ ! -s "{{ acme__certificate }}" ] || [ "{{ acme__certificate }}" -ot "/tmp/letsencrypt.tmp" ] ; then
    # ask for a newly signed cert
    cert=$(ssh "{{ acme__remote_proxy }}" "{{ acme__wrapper }}" get_cert "{{ acme__cert_name }}")

    newstartdate=$(echo $cert | openssl x509 -noout -startdate |\
                    cut -d "=" -f2)
    curstartdate=$(openssl x509 -noout -startdate \
                    -in "{{ acme__certificate }}")

    if [ $(date -d newstartdate +%s) -gt $(date -d curstartdate +%s) ] ; then
        echo $cert > "{{ acme__certificate }}"

        # install the cert as consumable for the respective services
        cp "{{ acme__certificate }}" "{{ acme__consumable_cert }}"
        cat "{{ acme__certificate }}" {% for cert in acme__letsencrypt_certs %}"{{ acme__config_dir }}/{{ cert.file }}" {% endfor %} > "{{ acme__consumable_chain }}"
    fi
fi

